.carousel {
    display: block;
    width: 50%;
    padding: 1.875rem;
    margin: 0 auto;  
}

.mainImage {
    height: 500px;
}

.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background: url(./src/img/carrossel/pacotes-1.jpg) no-repeat;
    background-size: cover;
}