nav {
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.mainImage {
    position: absolute;
    top: 0;
    z-index: -10;
    min-width: 100%;
}

.mainImage video {
min-width: 100%;
}

.carousel {
    display: block;
    width: 50%;
    padding: 1.875rem;
    margin: 0 auto;  
}

.text {
    width: 20rem;
}
