.bodyServico {
    background: white;
}
.mainImage {
    height: 35rem;
    display: flex;
    justify-content: center;
}

.mainImage video {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-----carousel-----------------------------------------------------------------------*/
.carousel {
    display: block;
    max-width: 40rem;
    padding: 1.875rem;
    margin: 0 auto;
}

@media (max-width: 400px) {
    .carousel {
        width: 1fr;
    }
}

picture {
    justify-content: center;
    align-items: center;
    display: flex;
}

picture img {
    height: 20rem;
    margin: 15px;
}